#access-footer{
  width:1079px;
  margin:0 auto 50px;
  .detail{
    width:600px;
    dl{
      dt{
        width:100px;
        float:left;
      }
      dd{
        width:500px;
        float:left;
        margin:0 0 1em 0;
      }
    }
  }
  .fb{
    margin:50px 0 0 0;
  }
}




@media screen and (max-width: 1000px) {
  #access-footer {
    width:100%;
    .detail {
      width: 100%;
      h3{
        text-align: center;
      }
      dl {
        max-width:500px;
        margin:0 auto;
        dt {
          width: 100px;
        }
        dd {
          width: calc( 100% - 100px );
        }
      }
    }

    .fb{
      width:100%;
    }
  }

}