/*menu-page*/
$col-width:500px;
$col-interval:50px;

#post-17{
  overflow-x: hidden;
  article{
    padding: 0 0 50px 0;
  }
  article:nth-child(odd){
    margin: 0 -200%;
    padding: 0 200% 50px;
    background: #2d2d2d;
  }

}

.entry-content {
  margin: 0px 150px 95px;
}

.content-area {
  padding-top: 0px;
}



.eye-img{
  width: 100vw;
  height:20vw;
  background-size:cover;
  background-color:rgba(0,0,0,0.3);
}


.col-2{
  width:100%;
  display:flex;
  justify-content: space-between;
  margin:0 auto;
  >h2{
    margin-top:0px !important;
    color:#fda319;
  }
}

.col-1{
  margin:0 auto;
  padding:30px 0;
  >h2{
    margin-top:0px !important;
    color:#fda319;
  }
}



.menu-text{
  width:$col-width;
  margin:0 auto;

  h3{
    font-size:1.5em;
    text-align: center;
  }
  p{line-height:1.2}

  table{
    th,td{
      background:none !important;
      border:none !important;
      font-size:1.2em;
      padding:10px 0;
      border-bottom:1px solid #585858 !important;
    }
    td{
      width:30%;
      text-align:right;
      white-space: nowrap;
    }
    th{
      text-align:left !important;
    }
    tr:last-child{
      th,td{
        border-bottom:none !important;
      }
    }
  }
  p{
    font-size:1.1em;
  }
}

.menu-img{
  float:left;
  width:$col-width;
  margin-left:$col-interval;
  display:flex;
  flex-wrap: wrap;
  margin-top:$col-interval;
  >.menu-img-in{
    width:50%;
    padding:10px;
    >img{
      width:100%;
    }
    >p{
      line-height:1em;
      font-size:1.1em;
    }
  }
}


@media screen and (max-width: 980px) {
  .entry-content {
    margin: 0px 20px 95px;
  }


  .col-2{
    width:100%;
    .menu-text{
      width:47.5%;
    }
    .menu-img{
      width:47.5%;
      margin-left:5%;

    }
  }

}


@media screen and (max-width: 480px) {

  .entry-content {
    margin: 0px 10px 95px;
  }


  .col-2{
    width:100%;
    display: block;
    .menu-text{
      width:100%;
    }
    .menu-img{
      width:100%;
      float:none;
      margin-left:0px;

    }
  }

}



